doctype html
html
    head
        include components/head
        title BodaBoda Banja : Customers
    body
        include components/header
        h3 Customers List
        div.form-row
            div.col.form-group.col-md-9    
                form.search(action='/customerslist')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='ids' placeholder="Enter your search term ...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit",value="Filter")
        table.table
            thead.thead-dark
                tr
                    th Unique ID
                    th User ID
                    th Supervisor
                    th Working Days
                    th Email
            tbody
                each customer in customers
                    tr
                        td #{customer.ids}
                        td #{customer.userID}
                        td #{customer.supervisor}
                        td #{customer.number_of_working_days}
                        td #{customer.email}
    .add_button.commons_vertical +
    include components/footer