include components/header
include components/filter
include components/deleteuser
include components/edituser
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Customers
    body
        +banja_header(names, home, false)
        .banja_content
            h3 Customers
            +banja_filter("/sales/customerslist", "customerID")
            table.table
                thead.thead-dark
                    tr
                        th Customer ID
                        th Names
                        th Username
                        th Phone Number
                        th Vehicle Type
                        th Outstanding Payment (UGX)
                        th Next Payment
                       
                tbody
                    each customer in customers
                        tr
                            - let lastpaymentdate = new Date(customer.lastPayment)
                            - let bodabodacost = 850000 + (2 * 24 * 214590)
                            - let tuktukcost = 950000 + (2 * 24 * 294590 )
                            td #{customer.customerID}
                            td #{customer.user.names}
                            td #{customer.user.username}
                            td #{customer.user.phoneNumber}
                            td #{customer.vehicleType}
                            td #{(customer.vehicleType === "BodaBoda" ? bodabodacost - customer.downPayment : tuktukcost - customer.downPayment).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }
                            td #{new Date(lastpaymentdate.setDate(lastpaymentdate.getDate()+30))}
                            td: +delete_banja_user(customer, "/sales/deletecustomer")
                            td: +edit_banja_user(customer, "/sales/editcustomer")    
                a(href="/sales/customers", title="Add customer"): .add_button.commons_vertical#add_customers +
    include components/footer
    if newuser
        != '<script>alert("The new customer ID is : ' + newuser + '")</script>'
    script(src="/static/js/bootstrap/jquery.js")
    script(src="/static/js/bootstrap/bootstrap.js")
    script(src="/static/js/index.js")
