include components/header
include components/filter
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Customers
    body
        +banja_header(names)
        .banja_content
            h3 Customers
            +banja_filter("/sales/customerslist", "customerID")
            table.table
                thead.thead-dark
                    tr
                        th Customer ID
                        th Names
                        th Username
                        th Phone Number
                        th Date of Birth
                        th Date onBoarded
                tbody
                    each customer in customers
                        tr
                            td #{customer.customerID}
                            td #{customer.userID.names}
                            td #{customer.userID.username}
                            td #{customer.userID.phone_number}
                            td #{customer.userID.date_of_birth}
                            td #{customer.userID.date_of_registration}
                            td: .deletecustomer
                a(href="/sales/customers", title="Add customer"): .add_button.commons_vertical#add_customers +
    include components/footer
    script(src="/static/js/bootstrap/jquery.js")
    script(src="/static/js/bootstrap/bootstrap.js")
    script(src="/static/js/index.js")