include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Edit Customers
    body
        +banja_header(names)
        .banja_content
            h3 Edit Customer
            form(action="/sales/editcustomers", method="post")  
                -
                    let user_data = JSON.parse(rolesman)
                    let { userID : {_id:user_id,names:personname,username,phone_number,date_of_birth },NIN,nationality,marital_status,documents,stage_name,lc_one,lc_three,vehicle_type,referee_name,referee_dob,referee_occupation,referee_contact,customerID,down_paymnet} =user_data

                table
                    tbody
                        tr
                            td
                                fieldset
                                    legend Personal Information
                                    table
                                        tbody
                                            tr
                                                td.form_headers Full Names :
                                                td: input#names(type="text", name="names", autocomplete="off",placeholder=personname)
                                            tr
                                                td.form_headers Username :
                                                td: input#username(type="text", name="username",autocomplete="off",placeholder=username)
                                            tr
                                                td.form_headers Phone Number :
                                                td: input#phone_number(type="tel", name="phone_number",autocomplete="off",placeholder=phone_number)
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#date_of_birth(type="date", name="date_of_birth",autocomplete="off",placeholder=date_of_birth)
                                            tr
                                                td: input#user_id(type="text", name="user_id", value=user_id, hidden)
                                                td: input#role_id(type="text", name="role_id", value=_id, hidden)
                                            tr
                                                td.form_headers Customer ID:
                                                td: input#customerID(type="text", name="customerID", autocomplete="off",placeholder=customerID)
                        tr
                            td
                                fieldset
                                    legend Verification
                                    table
                                        tbody
                                            tr
                                                td.form_headers National ID Number (NIN) :
                                                td: input#NIN(type="text", name="NIN", autocomplete="off",placeholder=NIN)
                                            tr
                                                td.form_headers Nationality :
                                                td: input#nationality(type="text", name="nationality", autocomplete="off",placeholder=nationality)
                                            tr
                                                td.form_headers Marital Status :
                                                td: input#marital_status(type="text", name="marital_status", autocomplete="off",placeholder=marital_status)
                                            tr
                                                td.form_headers Verification Documents :
                                                td
                                                    label Provided
                                                    input#provided(type="radio", name="documents",value="true")
                                                    label Not Provided
                                                    input#notprovided(type="radio", name="documents", value="false", checked)
                                            tr
                                                td.form_headers Stage Name :
                                                td: input#stage_name(type="text", name="stage_name", autocomplete="off",placeholder=stage_name)
                                            tr
                                                td.form_headers LC One :
                                                td: input#lc_one(type="text", name="lc_one", autocomplete="off",placeholder=lc_one)
                                            tr
                                                td.form_headers LC Three :
                                                td: input#lc_three(type="text", name="lc_three", autocomplete="off",placeholder=lc_three)
                        tr
                            td
                                fieldset
                                    legend Vehicle Details
                                    table
                                        tbody
                                            tr
                                                td.form_headers Vehicle :
                                                td
                                                    select#vehicle_type(name="vehicle_type")
                                                        option(value="BodaBoda") BodaBoda
                                                        option(value="TukTuk") TukTuk
                                            tr
                                                td.form_headers Down Payment :
                                                td: input#down_paymnet(type="number", name="down_paymnet", autocomplete="off", placeholder=down_paymnet)
                        tr
                            td
                                fieldset
                                    legend Referee
                                    table
                                        tbody
                                            tr
                                                td.form_headers Name :
                                                td: input#referee_name(type="text", name="referee_name", autocomplete="off",placeholder=referee_name)
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#referee_dob(type="date", name="referee_dob",autocomplete="off",placeholder=referee_dob)
                                            tr
                                                td.form_headers Occupation :
                                                td: input#referee_occupation(type="text", name="referee_occupation",autocomplete="off", placeholder=referee_occupation)
                                            tr
                                                td.form_headers Contact :
                                                td: input#referee_contact(type="tel", name="referee_contact",autocomplete="off", placeholder=referee_contact)
                        tr
                            td: input.add_customer_btns(type="submit", value="SUBMIT")
                            td: input.add_customer_btns(type="reset", value="RESET")
        include components/footer
        script(src="/static/js/bootstrap/jquery.js")
        script(src="/static/js/bootstrap/bootstrap.js")
        script(src="/static/js/index.js")