include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Edit Customers
    body
        +banja_header(names, home, false)
        .banja_content
            h3 Edit Customer
            form(action="/sales/editcustomers", method="post")  
                -
                    let user_data = JSON.parse(rolesman)
                    let { user : {_id:userID,names:personname,username,phoneNumber,dateOfBirth },NIN,nationality,maritalStatus,documents,stageName,lcOne,lcThree,vehicleType,refereeName,refereeDob,refereeOccupation,refereeContact,customerID,downPayment, _id} =user_data

                table
                    tbody
                        tr
                            td
                                fieldset
                                    legend Personal Information
                                    table
                                        tbody
                                            tr
                                                td.form_headers: label(for="names") Full Names :
                                                td: input.form-control#names(type="text", name="names", autocomplete="off",placeholder=personname,pattern="^[a-zA-Z ]*$", title="Only alphabets required for the name")
                                            tr
                                                td.form_headers: label(for="username") Username :
                                                td: input.form-control#username(type="text", name="username",autocomplete="off",placeholder=username,pattern="[A-Za-z0-9]+",title="username requiresletters and numbers only, no punctuation or special characters")
                                            tr
                                                td.form_header: label(for="phoneNumber") Phone Number :
                                                td: input.form-control#phoneNumber(type="tel", name="phoneNumber",autocomplete="off",placeholder=phoneNumber,minlength="10", maxlength="10",pattern="^07[0-9]{8}$", title="Format is 07********")
                                            tr
                                                td.form_headers: label(for="dateOfBirth") Date of Birth :
                                                td: input.form-control#dateOfBirth(type="text", name="dateOfBirth",autocomplete="off",placeholder=dateOfBirth,  onfocus="(this.type='date')" onblur="(this.type='text')")
                                            tr
                                                td: input#userID(type="text", name="userID", value=userID, hidden)
                                                td: input.form-control#roleID(type="text", name="roleID", value=_id, hidden)
                                            tr
                                                td.form_headers: label(for="=customerID") Customer ID:
                                                td: input.form-control#customerID(type="text", name="customerID", autocomplete="off",value=customerID, disabled="true")
                        tr
                            td
                                fieldset
                                    legend Verification
                                    table
                                        tbody
                                            tr
                                                td.form_headers: label(for="NIN") National ID Number (NIN) :
                                                td: input.form-control#NIN(type="text", name="NIN", autocomplete="off",placeholder=NIN, minlength="13",maxlength="13", pattern="^[a-zA-Z]{3}[a-zA-Z0-9]+")
                                            tr
                                                td.form_headers: label(for="nationality") Nationality :
                                                td: input.form-control#nationality(type="text", name="nationality", autocomplete="off",placeholder=nationality)
                                            tr
                                                td.form_headers: label(for="maritalStatus") Marital Status :
                                                td: input.form-control#maritalStatus(type="text", name="maritalStatus", autocomplete="off",placeholder=maritalStatus)
                                            tr
                                                td.form_headers: label(for="documents") Verification Documents :
                                                td
                                                    .form-check.form-check-inline
                                                        input.form-check-input#provided(type="radio", name="documents",value="true")
                                                        label(for="provided") Provided
                                                    .form-check.form-check-inline                                             
                                                        input.form-check-input#notprovided(type="radio", name="documents", value="false", checked)
                                                        label(for="notprovided") Not Provided
                                            tr
                                                td.form_headers: label(for="stageName") Stage Name :
                                                td: input.form-control#stageName(type="text", name="stageName", autocomplete="off",placeholder=stageName)
                                            tr
                                                td.form_headers: label(for="lcOne") LC One :
                                                td: input.form-control#lcOne(type="text", name="lcOne", autocomplete="off",placeholder=lcOne)
                                            tr
                                                td.form_headers: label(for="lcThree") LC Three :
                                                td: input.form-control#lcThree(type="text", name="lcThree", autocomplete="off",placeholder=lcThree)
                        tr
                            td
                                fieldset
                                    legend Vehicle Details
                                    table
                                        tbody
                                            tr
                                                td.form_headers: label(for="vehicleType") Vehicle :
                                                td
                                                    select.form-control#vehicleType(name="vehicleType")
                                                        option(value=vehicleType) #{vehicleType}
                                                        option(value="TukTuk") TukTuk
                                                        option(value="BodaBoda") BodaBoda
                                            tr
                                                td.form_headers: label(for="downPayment ") Down Payment :
                                                td: input.form-control#downPaymnet(type="number", name="downPaymnet", autocomplete="off", placeholder=downPayment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                        tr
                            td
                                fieldset
                                    legend Referee
                                    table
                                        tbody
                                            tr
                                                td.form_headers: label(for="refereeName") Name :
                                                td: input.form-control#refereeName(type="text", name="refereeName", autocomplete="off",placeholder=refereeName)
                                            tr
                                                td.form_headers: label(for="refereeDob") Date of Birth :
                                                td: input.form-control#refereeDob(type="text", name="refereeDob",autocomplete="off",placeholder=refereeDob, onfocus="(this.type='date')", onblur="(this.type='text')")
                                            tr
                                                td.form_headers: label(for="refereeOccupation") Occupation :
                                                td: input.form-control#refereeOccupation(type="text", name="refereeOccupation",autocomplete="off", placeholder=refereeOccupation)
                                            tr
                                                td.form_headers: label(for="refereeContact") Contact :
                                                td: input.form-control#refereeContact(type="tel", name="refereeContact",autocomplete="off", placeholder=refereeContact)
                        tr
                            td: input.add_customer_btns(type="submit", value="SUBMIT")
                            td: input.add_customer_btns(type="reset", value="RESET")
        include components/footer
        script(src="/static/js/bootstrap/jquery.js")
        script(src="/static/js/bootstrap/bootstrap.js")
        script(src="/static/js/index.js")