include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Edit Customers
    body
        +banja_header(names, home, false)
        .banja_content
            h3 Edit Customer
            form(action="/sales/editcustomers", method="post")  
                -
                    let user_data = JSON.parse(rolesman)
                    let { user : {_id:userID,names:personname,username,phoneNumber,dateOfBirth },NIN,nationality,maritalStatus,documents,stageName,lcOne,lcThree,vehicleType,refereeName,refereeDob,refereeOccupation,refereeContact,customerID,downPaymnet, _id} =user_data

                table
                    tbody
                        tr
                            td
                                fieldset
                                    legend Personal Information
                                    table
                                        tbody
                                            tr
                                                td.form_headers Full Names :
                                                td: input#names(type="text", name="names", autocomplete="off",placeholder=personname)
                                            tr
                                                td.form_headers Username :
                                                td: input#username(type="text", name="username",autocomplete="off",placeholder=username)
                                            tr
                                                td.form_headers Phone Number :
                                                td: input#phoneNumber(type="tel", name="phoneNumber",autocomplete="off",placeholder=phoneNumber)
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#dateOfBirth(type="date", name="dateOfBirth",autocomplete="off",placeholder=dateOfBirth)
                                            tr
                                                td: input#userID(type="text", name="userID", value=userID, hidden)
                                                td: input#roleID(type="text", name="roleID", value=_id, hidden)
                                            tr
                                                td.form_headers Customer ID:
                                                td: input#customerID(type="text", name="customerID", autocomplete="off",value=customerID, disabled="true")
                        tr
                            td
                                fieldset
                                    legend Verification
                                    table
                                        tbody
                                            tr
                                                td.form_headers National ID Number (NIN) :
                                                td: input#NIN(type="text", name="NIN", autocomplete="off",placeholder=NIN)
                                            tr
                                                td.form_headers Nationality :
                                                td: input#nationality(type="text", name="nationality", autocomplete="off",placeholder=nationality)
                                            tr
                                                td.form_headers Marital Status :
                                                td: input#maritalStatus(type="text", name="maritalStatus", autocomplete="off",placeholder=maritalStatus)
                                            tr
                                                td.form_headers Verification Documents :
                                                td
                                                    label Provided
                                                    input#provided(type="radio", name="documents",value="true", required)
                                                    label Not Provided
                                                    input#notprovided(type="radio", name="documents", value="false", checked, required)
                                            tr
                                                td.form_headers Stage Name :
                                                td: input#stageName(type="text", name="stageName", autocomplete="off",placeholder=stageName)
                                            tr
                                                td.form_headers LC One :
                                                td: input#lcOne(type="text", name="lcOne", autocomplete="off",placeholder=lcOne)
                                            tr
                                                td.form_headers LC Three :
                                                td: input#lcThree(type="text", name="lcThree", autocomplete="off",placeholder=lcThree)
                        tr
                            td
                                fieldset
                                    legend Vehicle Details
                                    table
                                        tbody
                                            tr
                                                td.form_headers Vehicle :
                                                td
                                                    select#vehicleType(name="vehicleType")
                                                        option(value=vehicleType) #{vehicleType}
                                                        option(value="TukTuk") TukTuk
                                                        option(value="BodaBoda") BodaBoda
                                            tr
                                                td.form_headers Down Payment :
                                                td: input#downPaymnet(type="number", name="downPaymnet", autocomplete="off", placeholder=downPaymnet)
                        tr
                            td
                                fieldset
                                    legend Referee
                                    table
                                        tbody
                                            tr
                                                td.form_headers Name :
                                                td: input#refereeName(type="text", name="refereeName", autocomplete="off",placeholder=refereeName)
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#refereeDob(type="date", name="refereeDob",autocomplete="off",placeholder=refereeDob)
                                            tr
                                                td.form_headers Occupation :
                                                td: input#refereeOccupation(type="text", name="refereeOccupation",autocomplete="off", placeholder=refereeOccupation)
                                            tr
                                                td.form_headers Contact :
                                                td: input#refereeContact(type="tel", name="refereeContact",autocomplete="off", placeholder=refereeContact)
                        tr
                            td: input.add_customer_btns(type="submit", value="SUBMIT")
                            td: input.add_customer_btns(type="reset", value="RESET")
        include components/footer
        script(src="/static/js/bootstrap/jquery.js")
        script(src="/static/js/bootstrap/bootstrap.js")
        script(src="/static/js/index.js")