doctype html
html
    head
        include components/head
        title BodaBoda Banja : Sales Executives
    body
        h1 Sales Executive List
        div.form-row
            div.col.form-group.col-md-9    
                form.search(action='/saleslist')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='ids' placeholder="Enter your search term ...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit", value="Filter")
        table.table
            thead.thead-dark
                tr
                    th Unique ID
                    th Name
                    th Username
                    td Phone Number
                    td Date of Birth
                    th Supervisor
                    th Working Days
                    th Email
            tbody
                each sale in sales
                    tr
                        td #{sale.ids}
                        td #{sale.userID.names}
                        td #{sale.userID.username}
                        td #{sale.userID.phone_number}
                        td #{sale.userID.date_of_birth}
                        td #{sale.supervisor}
                        td #{sale.number_of_working_days}
                        td #{sale.email}