include components/header
include components/filter
include components/deleteuser
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Sales Executives
    body
        +banja_header(names)
        .banja_content
            h3 Sales Executives
            +banja_filter("/admin/saleslist", "ids")
            table.table
                thead.thead-dark
                    tr
                        th Unique ID
                        th Name
                        th Username
                        th Phone Number
                        th Email
                        th Supervisor
                        th Working Days 
                        th Date of Birth     
                tbody
                    each sale in sales
                        tr
                            td #{sale.ids}
                            td #{sale.userID.names}
                            td #{sale.userID.username}
                            td #{sale.userID.phone_number}
                            td #{sale.email}
                            td #{sale.supervisor}
                            td #{sale.number_of_working_days}  
                            td #{sale.userID.date_of_birth}
                            td: +delete_banja_user(sale.userID._id, sale._id, "/admin/deletesales") 
            a(href="/admin/sales", title="Add salesman"): .add_button.commons_vertical#add_customers +
        include components/footer